body {
  background-color:antiquewhite;
  font-family: 'Inter', sans-serif;
}

h2, h3 {
  font-family: 'Manrope', sans-serif;
}

#logo-container{
  display: flex;
  width: 200px;
  align-items: center;
  /* border: 2px goldenrod solid; */
  border-radius: 5px;
  color: goldenrod;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

#logo-icon{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex: 1; 
}

#logo-container > h1{
  flex: 2;
  font-size: 1.5rem;
  margin: 0;
}

.icon-size{
  font-size: 24px;
}

.form-container{
  max-width: 500px;
}

.quote-justify-allignment{
  text-align: justify;
}